## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import matplotlib.pyplot as plt

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nikolskoye,RU,59.7035,30.7861,32.81,82,62,3.20,broken clouds
1,1,Bluff,NZ,-46.6000,168.3333,53.80,57,93,8.01,overcast clouds
2,2,Thompson,CA,55.7435,-97.8558,24.96,42,100,5.75,overcast clouds
3,3,Kirakira,SB,-10.4544,161.9205,85.57,62,91,5.86,light rain
4,4,Puerto Ayora,EC,-0.7393,-90.3518,75.40,91,79,5.32,broken clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?  80
What is the maximum temperature you would like for your trip?  100

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Kirakira,SB,-10.4544,161.9205,85.57,62,91,5.86,light rain
7,7,Kahului,US,20.8947,-156.4700,80.62,44,20,14.97,few clouds
14,14,Matamoros,MX,25.5333,-103.2500,86.31,15,100,4.45,overcast clouds
15,15,Yulara,AU,-25.2406,130.9889,80.44,36,5,9.22,clear sky
42,42,Butaritari,KI,3.0707,172.7902,81.91,76,37,12.06,scattered clouds
47,47,Faanui,PF,-16.4833,-151.7500,81.34,72,6,11.70,light rain
48,48,Qui Nhon,VN,13.7667,109.2333,80.42,78,100,4.61,overcast clouds
67,67,Vaini,TO,-21.2000,-175.2000,80.56,75,42,12.17,scattered clouds
75,75,Namatanai,PG,-3.6667,152.4333,84.38,71,70,7.52,light rain
81,81,Mackay,AU,-21.1500,149.2000,83.68,69,5,17.27,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                117
City                   117
Country                117
Lat                    117
Lng                    117
Max Temp               117
Humidity               117
Cloudiness             117
Wind Speed             117
Current Description    117
dtype: int64

In [7]:
# or
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Kirakira,SB,-10.4544,161.9205,85.57,62,91,5.86,light rain
7,7,Kahului,US,20.8947,-156.4700,80.62,44,20,14.97,few clouds
14,14,Matamoros,MX,25.5333,-103.2500,86.31,15,100,4.45,overcast clouds
15,15,Yulara,AU,-25.2406,130.9889,80.44,36,5,9.22,clear sky
42,42,Butaritari,KI,3.0707,172.7902,81.91,76,37,12.06,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
656,656,Mildura,AU,-34.2000,142.1500,84.07,26,5,12.66,clear sky
658,658,Acajutla,SV,13.5928,-89.8275,82.90,77,14,8.63,few clouds
670,670,Bosaso,SO,11.2842,49.1816,83.10,62,25,9.17,scattered clouds
676,676,Popondetta,PG,-8.7537,148.2534,84.52,74,98,4.23,overcast clouds
688,688,Daru,PG,-9.0763,143.2092,84.61,73,82,5.88,broken clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"  
hotel_df["Hotel Name"] = str(None) #(Best Practice becuase "Hotel Name" is a object and needs to be a string)
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Kirakira,SB,85.57,light rain,-10.4544,161.9205,None
7,Kahului,US,80.62,few clouds,20.8947,-156.4700,None
14,Matamoros,MX,86.31,overcast clouds,25.5333,-103.2500,None
15,Yulara,AU,80.44,clear sky,-25.2406,130.9889,None
42,Butaritari,KI,81.91,scattered clouds,3.0707,172.7902,None
47,Faanui,PF,81.34,light rain,-16.4833,-151.7500,None
48,Qui Nhon,VN,80.42,overcast clouds,13.7667,109.2333,None
67,Vaini,TO,80.56,scattered clouds,-21.2000,-175.2000,None
75,Namatanai,PG,84.38,light rain,-3.6667,152.4333,None
81,Mackay,AU,83.68,clear sky,-21.1500,149.2000,None

In [10]:
hotel_df.dtypes

City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
        
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
       # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Kirakira,SB,85.57,light rain,-10.4544,161.9205,SanBiz Lodge
7,Kahului,US,80.62,few clouds,20.8947,-156.4700,Maui Seaside Hotel
14,Matamoros,MX,86.31,overcast clouds,25.5333,-103.2500,Quinta Belem
15,Yulara,AU,80.44,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
42,Butaritari,KI,81.91,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
656,Mildura,AU,84.07,clear sky,-34.2000,142.1500,Mercure Hotel Mildura
658,Acajutla,SV,82.90,few clouds,13.5928,-89.8275,Laureles
670,Bosaso,SO,83.10,scattered clouds,11.2842,49.1816,Red Sea Hotel
676,Popondetta,PG,84.52,overcast clouds,-8.7537,148.2534,Timos Transit House
688,Daru,PG,84.61,broken clouds,-9.0763,143.2092,Daru Lodge

In [13]:
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))